.background {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    /*-fx-base: #655;*/
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-background-opacity: 30%;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .scroll-bar {
    -fx-insets-scroll-bar-alignment: right;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0.166667em;
}

.table-view .column-header-background {
    -fx-background-color: #655;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #655;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}