.background {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-background-opacity: 30%;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .scroll-bar {
    -fx-insets-scroll-bar-alignment: right;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0.166667em;
}

.table-view .column-header-background {
    -fx-background-color: #656;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #656;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #656;
    -fx-font-family: "System", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-alignment: center;
    -fx-hover-alignment: center;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #656;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #656;
    -fx-text-fill: white;
    -fx-alignment: center;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: white;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}